<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>

      <h1 class="logo-name"> <img style="width: 90px;" src="https://ebiwd.github.io/pdx-visual-framework/images/logo.png" alt=""> </h1>

    <h3> PdxFinder Admin Interface </h3>

    <p>Login to continue </p><br>


      <a href="/login/github" type="submit" class="btn btn-github full-width m-b b-rad20"> <i class="ti-github"> </i> &nbsp;&nbsp;&nbsp; Login with Github </a>

      <a href="/login/linkedin" type="submit" class="btn btn-primary full-width m-b b-rad20"> <i class="ti-linkedin"> </i> &nbsp;&nbsp;&nbsp; Login with LinkedIn </a>

      <a href="/connect/google" type="submit" class="btn btn-danger block full-width m-b b-rad20"> <i class="ti-google"> </i> &nbsp;&nbsp;&nbsp; Login with Google </a>

  </div>
</div>