<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-8">
        <h2> Mapped Data Validation </h2>
        <ol class="breadcrumb">
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
                <a routerLink="/curation">Curation </a>
            </li>
            <li class="active"> Validate Terms</li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">

    <div class="p-w-md m-t-sm col-lg-10 col-lg-offset-1">

        <div class="row" style="margin-top: -10px;">


            <div class="col-lg-12 animated fadeInDown">

                <!--<div class="pdxfinder float-e-margins">

                    <div class="pdxfinder-content pdxfinder-heading">
                        <h3><i class="ti-files"></i> Upload Validated File </h3>
                        <small><i class="fa fa-tim"></i> Ensure you upload CSV File of the required type only ...
                        </small>
                    </div>

                </div>-->

                <div style="margin-top: -8px;">
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" style="max-width:100px; margin: auto;" class="img-responsive"
                                         src="assets/icons/document-compress-icon.png">
                                </div>
                                <div class="file-name">
                                    mapping-file.json
                                    <br/>
                                    <small>Created: October 11, 2019</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" style="max-width:100px; margin: auto;" class="img-responsive"
                                         src="assets/icons/document-compress-icon.png">
                                </div>
                                <div class="file-name">
                                    mapping-file.json
                                    <br/>
                                    <small>Created: October 11, 2019</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" style="max-width:100px; margin: auto;" class="img-responsive"
                                         src="assets/icons/document-compress-icon.png">
                                </div>
                                <div class="file-name">
                                    mapping-file.json
                                    <br/>
                                    <small>Created: October 11, 2019</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" style="max-width:100px; margin: auto;" class="img-responsive"
                                         src="assets/icons/document-compress-icon.png">
                                </div>
                                <div class="file-name">
                                    mapping-file.json
                                    <br/>
                                    <small>Created: October 11, 2019</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" style="max-width:100px; margin: auto;" class="img-responsive"
                                         src="assets/icons/document-compress-icon.png">
                                </div>
                                <div class="file-name">
                                    mapping-file.json
                                    <br/>
                                    <small>Created: October 11, 2019</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" style="max-width:100px; margin: auto;" class="img-responsive"
                                         src="assets/icons/document-compress-icon.png">
                                </div>
                                <div class="file-name">
                                    mapping-file.json
                                    <br/>
                                    <small>Created: October 11, 2019</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="image">
                                    <img alt="image" style="max-width:100px; margin: auto;" class="img-responsive"
                                         src="assets/icons/document-compress-icon.png">
                                </div>
                                <div class="file-name">
                                    mapping-file.json
                                    <br/>
                                    <small>Created: October 11, 2019</small>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


</div>

